{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card shadow border-success">
            <div class="card-header bg-success text-white text-center">
                <h4>📝 Crear Cuenta Nueva</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label>Elige un Usuario</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label>Elige una Contraseña</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Registrarse</button>
                </form>
                <hr>
                <div class="text-center">
                    <a href="{{ url_for('auth.login') }}">Volver al Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}